html{
  transform: scale(0.95);
  position: absolute;
}

body { 
  background:repeating-radial-gradient(rgba(103, 187, 226, 0.5), rgba(94, 202, 235, 0.603),rgba(199, 233, 243, 0.514));
  
 }

 @font-face {
   font-family: 'Jersey10-Regular';
   src: url('Fonts/Jersey_10/Jersey10-Regular.ttf') format('truetype');
 }

 #borda001img { 
   border: 300px solid transparent;
   padding-top: 30px;
   width:1200px;
   border-image: url(Imagens/borda001.png) 400;
   border-radius: 40%;
   image-rendering: pixelated;
   margin-top: -10%;
   margin-bottom: -11%;
   transform: scale(0.8); 
 }

 .imagens { 
   position:absolute;
 }

  .Star_2 {
   width: 100px;
   left: 1559px;
   top: -5px;
   background-image: url(Star.png);
  }

  .Star {
   width: 100px;
   left: 139px;
   top: -5px;
  }

 .FundoBranco {
   width: 1248px;
   left: 284px;
   top: 318px;
   border-radius: 4.9%;
  }

  .Luigi {
   width: 165px;
   left: 1349px;
   top: 103px;
  }

 .Mario {
   width: 210px;
   left: 315px;
   top: 105px;
  }

 .PixelGuy {
   width: 210px;
   left: 30px;
   top: 979px;
  }
 
 .Sonic {
   width: 210px;
   left: 1580px;
   top: 933px;
   filter:blur(0.48px)
  }

 .Clouds {
   width: 210px;
   left: 70px;
   top: 150px;
 }

 span {margin-left: 15px;}

 h1 {
   -webkit-text-stroke-width: 7px;
   -webkit-text-stroke-color: rgba(62, 67, 80, 0.144);
   text-align: center;
   color: #04068b;
   font-size: 90px;
   font-family: 'Jersey10-Regular';
   background-color: rgba(241, 240, 247, 0.884);
   border-radius: 20px;
   letter-spacing: 0.2cap;
   border: 7px solid black;
   margin-top: -1%;
   box-shadow:5px 8px 10px rgba(0, 0, 0, 0.5);
 }

 .p1 {
   -webkit-text-stroke-width: 6px;
   -webkit-text-stroke-color: rgba(93, 122, 196, 0.151);
   font-size: 35px;
   text-align: justify;
   background-color: rgba(34, 32, 32, 0);
   font-family: 'Jersey10-Regular';
   letter-spacing: 0.01cap;
  }
  .P1::first-letter { 
   font-size: 2em;
   margin-left: 10px;
 }

 button { 
  -webkit-text-stroke-width: 7px;
  -webkit-text-stroke-color: rgba(62, 67, 80, 0.144);
  text-align:center;
  color: rgb(255, 255, 255);
  font-size: 90px;
  font-family: 'Jersey10-Regular';
  background-color: rgba(54, 0, 201);
  border-radius: 20px;
  letter-spacing: 0.2cap;
  border: 10px solid black;
  margin-top: -388px;
  margin-left: 725px;
  box-shadow:5px 8px 10px rgba(0, 0, 0, 0.5);
  position: absolute;
  transform: scale(0.55);
  padding: 20px;
  cursor: pointer;
 }

 #mensagem {
 -webkit-text-stroke-width: 7px;
 -webkit-text-stroke-color: rgba(62, 67, 80, 0.144);
 text-align:center;
 color: #000000;
 font-size: 80px;
 font-family: 'Jersey10-Regular';
 margin-top: -428px;
 margin-left: 790px;
 position: absolute;
 }

 #mensagem2 {
 -webkit-text-stroke-width: 7px;
 -webkit-text-stroke-color: rgba(62, 67, 80, 0.144);
 text-align:center;
 color: #000000;
 font-size: 35px;
 font-family: 'Jersey10-Regular';
 margin-top: -158px;
 margin-left: 850px;
 position: absolute;
 }

 #mensagem3 {
 -webkit-text-stroke-width: 7px;
 -webkit-text-stroke-color: rgba(62, 67, 80, 0.144);
 text-align:center;
 color: #000000;
 font-size: 35px;
 font-family: 'Jersey10-Regular';
 margin-top: -118px;
 margin-left: 740px;
 position: absolute;
 }

 h2 { 
   -webkit-text-stroke-width: 7px;
   -webkit-text-stroke-color: rgba(62, 67, 80, 0.144);
   text-align: center;
   color: #04068b;
   font-size: 40px;
   font-family: 'Jersey10-Regular';
   background-color: rgba(241, 240, 247, 0.884);
   border-radius: 20px;
   letter-spacing: 0.2cap;
   border: 7px solid black;
   margin-right: 57%;
   box-shadow:5px 8px 10px rgba(0, 0, 0, 0.5);
  }

   li {
   margin-bottom: 100px;
   font-family: 'Jersey10-Regular';
   font-size: 40px;
   -webkit-text-stroke-width: 7px;
   -webkit-text-stroke-color: rgba(62, 67, 80, 0.144);
 }


   .hobbie1{
   width: 100px;
   height: 100px;
   left: 550px;
   top: 1229px;
   border-radius: 20px ;
   box-shadow:5px 8px 10px rgba(0, 0, 0, 0.5);
   filter:blur(0.5px);
  }

   .hobbie2{
   width: 100px;
   height: 100px;
   left: 550px;
   top: 1388px;
   border-radius: 20px;
   box-shadow:5px 8px 10px rgba(0, 0, 0, 0.5);
   filter:blur(0.5px)
  }

   .hobbie3{
   width: 100px;
   height: 100px;
   left: 550px;
   top: 1559px;
   border-radius: 20px ;
   box-shadow:5px 8px 10px rgba(0, 0, 0, 0.5);
   filter:blur(0.5px)
  }

 h3 { 
   -webkit-text-stroke-width: 7px;
   -webkit-text-stroke-color: rgba(62, 67, 80, 0.144);
   text-align: center;
   color: #04068b;
   font-size: 40px;
   font-family: 'Jersey10-Regular';
   background-color: rgba(241, 240, 247, 0.884);
   border-radius: 20px;
   letter-spacing: 0.2cap;
   border: 7px solid black;
   margin-top: -34.18%;
   margin-left: 55%;
   margin-right: 2%;
   box-shadow:5px 8px 10px rgba(0, 0, 0, 0.5);
   padding: 0.01%;   
 }

 .tabela, th, td {
   table-layout:fixed;
   border-collapse:collapse;
   padding: 10px;
   text-align: center;
   border: 9px solid rgb(16, 8, 87);
   width: 100px;
   height:100px;
   margin-left: 1250px;;
   margin-top: 4.55%;
  }
   
 .tabela {box-shadow:5px 8px 10px rgba(0, 0, 0, 0.5);}
  
  th{
   -webkit-text-stroke-width: 6px;
   -webkit-text-stroke-color: rgba(62, 67, 80, 0.144);
   text-align:center;
   color: #04068b;
   font-size: 35px;
   font-family: 'Jersey10-Regular';
   background-color: rgb(202, 201, 212);
   letter-spacing: 0.3cap;
  } 
 
  .Países {
   width: 100px;
  }

 .País1{
    background-image:url(Imagens/Japão.png);
    background-size: contain;
    filter:blur(0.5px)
  }
  .País2{
    background-image:url(Imagens/Suíça.png);
    background-size: contain;
    filter:blur(0.5px)
  }
  .País3{
    background-image:url(Imagens/Coreia.png);
    background-size:contain;
    filter:blur(0.5px)
 }

 .p2 {
   -webkit-text-stroke-width: 6px;
   -webkit-text-stroke-color: rgba(93, 122, 196, 0.151);
   font-size: 40px;
   text-align: center;
   font-family: 'Jersey10-Regular';
   letter-spacing: 0.01cap;
   border-color: rgb(0, 4, 7) solid;
   background-color: rgba(8, 8, 8, 0.178);
   padding: 1%;
   padding-bottom: 1.4%;
   margin-top: 10.55%;
  }

 .button2 { 
  text-align:center;
  color: #fafafc;
  font-size: 55px;
  font-family: 'Jersey10-Regular';
  background-color: rgb(54, 0, 201);
  border-radius: 20px;
  border: 7px solid black;
  margin-top: -20px;
  margin-left: -133px;
  box-shadow:5px 8px 10px rgba(0, 0, 0, 0.5);
  letter-spacing: 0.04cap;
  position: absolute;
  transform: scale(0.5);
  padding: 20px;
  cursor: pointer;
 }

 .a2 {
 -webkit-text-stroke-width: 6px;
 -webkit-text-stroke-color: rgba(93, 122, 196, 0.151);
 font-size: 40px;
 text-align: center;
 font-family: 'Jersey10-Regular';
 color: rgb(156, 4, 202);            
 font-size: 50px;
 position: absolute;
 margin-top: -200px;
 margin-left: 123px
 }

 .a2:hover {
 color: rgb(13, 4, 138);              
 text-decoration: underline;
 }

 .a3 {
 -webkit-text-stroke-width: 6px;
 -webkit-text-stroke-color: rgba(93, 122, 196, 0.151);
 font-size: 40px;
 text-align: center;
 font-family: 'Jersey10-Regular';
 color: rgb(202, 4, 4);            
 font-size: 50px;
 position:absolute;
 margin-top: -200px;
 margin-left: 353px;

 }

 .a3:hover {
 color: rgb(13, 4, 138);              
 text-decoration: underline;
}

